@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Training Day 3</h1>
    <p>We are learning about Deployment slots. new Change out here</p>
</div>